<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.log">

	<!-- Define targets -->
	<targets>
		<!-- Log to a file -->
		<target xsi:type="File" name="fileTarget"
				fileName="logs/logfile-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"
				archiveFileName="logs/archives/logfile-{#}.log"
				archiveNumbering="Rolling"
				archiveAboveSize="10485760"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />

		<!-- Log to the console -->
		<target xsi:type="Console" name="consoleTarget"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}" />
	</targets>

	<!-- Define rules -->
	<rules>
		<!-- Log Warn and higher to file -->
		<logger name="*" minlevel="Warn" writeTo="fileTarget" />

		<!-- Log Debug and higher to console -->
		<logger name="*" minlevel="Debug" writeTo="consoleTarget" />
	</rules>
</nlog>
